/* colors defined at top for easy configuring */
@define-color background rgba(45, 53, 59, 0.92);
@define-color second-background #343F44;
@define-color text #D3C6AA;
@define-color borders #475258;
@define-color focused #A7C080;
@define-color color1 #7FBBB3;
@define-color color2 #D699B6;
@define-color color3 #A7C080;
@define-color urgent #E67E80;


/* font declared */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

#custom-dot {
  margin-right: 2px;
  font-size: 5px;
}

#custom-split {
  opacity: 0.3;
}

/* idk what all this does */
window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 5px;
  border-radius: 7px;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
}


/* configuring the modules */
.modules-left {
  background-color: @background;
  border: 2px solid @focused;
}

.modules-center {
  background-color: @background;
  border: 2px solid @focused;
}

.modules-right {
  background-color: @background;
  border: 2px solid @focused;
}


/* whats this?? */
button {
  border: none;
}


/* left island */

/* menu pannel */
#custom-arch {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button.active {
  color: @focused;
  background-color: @second-background;
}

#workspaces button.urgent {
  background-color: @urgent;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#custom-gpu-usage,
#custom-gpu-temp,
#custom-cpu-temp,
#custom-storage_server,
#custom-storage_root,
#network.lan,
#network.ip,
#custom-vpn {
  padding: 0 10px;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-arch {
  color: @focused
}

/* Remaining Modules */
#custom-swaync {
  padding: 0 10px 0 5px;
  font-size: 16px;
  /* same scale as other icons */
  color: @text;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
