* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(45, 53, 59, 0.92);
    border-bottom: 3px solid #343f44;
    border-radius: 5px;
    color: #D3C6AA;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #A7C080;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #D3C6AA;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #343f44;
    box-shadow: inset 0 -3px #A7C080;
}

#workspaces button.urgent {
    background-color: #A54242;
    color: #D3C6AA;
}

#mode {
    background-color: #343f44;
    box-shadow: inset 0 -3px #A7C080;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #D3C6AA;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #343f44;
    color: #A7C080;
}

#battery {
    background-color: #343f44;
    color: #D3C6AA;
}

#battery.charging,
#battery.plugged {
    background-color: #343f44;
    color: #A7C080;
}

@keyframes blink {
    to {
        background-color: #A54242;
        color: #D3C6AA;
    }
}

#battery.critical:not(.charging) {
    background-color: #A54242;
    color: #D3C6AA;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #A54242;
    color: #D3C6AA;
}

#power-profiles-daemon.balanced {
    background-color: #343f44;
    color: #8ABEB7;
}

#power-profiles-daemon.power-saver {
    background-color: #343f44;
    color: #A7C080;
}

#cpu {
    background-color: #343f44;
    color: #A7C080;
}

#memory {
    background-color: #343f44;
    color: #8ABEB7;
}

#disk {
    background-color: #343f44;
    color: #D3C6AA;
}

#backlight {
    background-color: #343f44;
    color: #D3C6AA;
}

#network {
    background-color: #343f44;
    color: #8ABEB7;
}

#network.disconnected {
    background-color: #A54242;
    color: #D3C6AA;
}

#pulseaudio {
    background-color: #343f44;
    color: #D3C6AA;
}

#pulseaudio.muted {
    background-color: #343f44;
    color: #707880;
}

#wireplumber {
    background-color: #343f44;
    color: #D3C6AA;
}

#wireplumber.muted {
    background-color: #A54242;
    color: #D3C6AA;
}

#custom-media {
    background-color: #343f44;
    color: #A7C080;
    min-width: 100px;
}

#temperature {
    background-color: #343f44;
    color: #D3C6AA;
}

#temperature.critical {
    background-color: #A54242;
    color: #D3C6AA;
}

#tray {
    background-color: #343f44;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #A54242;
}

#idle_inhibitor {
    background-color: #343f44;
    color: #707880;
}

#idle_inhibitor.activated {
    background-color: #343f44;
    color: #A7C080;
}

#mpd {
    background-color: #343f44;
    color: #A7C080;
}

#mpd.disconnected {
    background-color: #A54242;
    color: #D3C6AA;
}

#mpd.stopped {
    background-color: #343f44;
    color: #707880;
}

#mpd.paused {
    background-color: #343f44;
    color: #8ABEB7;
}

#language {
    background-color: #343f44;
    color: #8ABEB7;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background-color: #343f44;
    color: #D3C6AA;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background-color: #343f44;
    color: #707880;
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #D3C6AA;
}

#privacy-item.screenshare {
    background-color: #A54242;
}

#privacy-item.audio-in {
    background-color: #A7C080;
    color: #2D353B;
}

#privacy-item.audio-out {
    background-color: #8ABEB7;
    color: #2D353B;
}

#pulseaudio:hover {
    background-color: #343f44;
    color: #A7C080;
}
