name: ShellCheck

on:
  push:
    branches: [main]
  pull_request:

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run ShellCheck
        run: |
          find . -name '*.sh' -exec shellcheck {} +
          shellcheck script-vars zsh/.zshrc
